@tailwind base;
@tailwind components;
@tailwind utilities;

.content-list,
.markdown {
    font-size: 16px;
    line-height: 1.5;

    p a,
    li a {
        @apply text-blue-500 underline;
    }

    ul {
        @apply pl-[25px] list-disc;
    }

    ol {
        @apply pl-[25px] list-decimal;
    }

    ul,
    ol {
        @apply mb-3;
    }

    p {
        @apply mb-3;
    }

    p:has(> div) {
        display: contents;
    }
    table {
        @apply w-full;
    }
    th {
        @apply text-left font-bold p-2 bg-aaRegularLight text-black;
    }
    td {
        @apply text-left p-2;
    }
}

.biasAnalysis-biasedClusterAccordion {
    .content-list,
    .markdown {
        display: flex;
        flex-direction: column;
        gap: 0;
        ul li {
            line-height: 1;
        }

        ul {
            line-height: 1;
            @apply mb-0;
        }
        span:has(> ul) {
            @apply block;
        }
    }
}

.tooltip-content {
    @apply p-4;
}

.showonprint .chart-container {
    @apply min-w-[800px];
    width: 800px !important;
}

button:has(+ [data-radix-popper-content-wrapper]) {
    @apply bg-aaRegularLight text-black;
}
